<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav"  mode="side" opened fixedTopGap="64" fixedInViewport="true" fixedBottomGap="34">
        <mat-nav-list class="navlist">
            <a mat-list-item routerLink="/">
                <i class="material-icons">home</i>
                Início
            </a>
            <a mat-list-item routerLink="/monitoradores">
                <i class="material-icons">accessibility_new</i>
                Monitoradores
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>