table{
    width: 100%;
}

.material-icons{
    color: rgb(37, 148, 37);
}

.delete-icon{
    color: rgb(187, 23, 23);
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
    text-align: center;
}

.title{
    padding-top: 15px;
    padding-left: 15px;
}

.edit-icon{
    color: rgb(185, 174, 19);
}

.botao{
    padding: 15px;
    display: flex;
    justify-content: center;

}

.botaoNovo{
    margin-left: 2.5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.div-table{
    max-width: 95%;
    margin: auto;
    background-color: #424242;
    
}