table{
    width: 100%;
}

.none{
  font-weight: 300;
  text-align: center;
  padding-bottom: 15px;
}

.delete-icon{
    color: rgb(187, 23, 23);
}

.edit-icon{
    color: rgb(185, 174, 19);
}

.div-table{
    margin: auto;
    max-width: 95%;
    background-color: #424242;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
    text-align: center;
}

.title{
    padding-top: 5px;
    margin-left: 10px;
}

.select{
    margin-left: 20px;
}

.search{
    padding-left: 65%;
}

.end-icon{
    color: rgb(39, 138, 177);
}

.excel-icon{
    color: #289659;
}

