/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: rgb(83, 83, 83); color: white;}

.v-align{
    vertical-align: middle;
}

.black{
    background-color: rgb(17, 17, 17);
}

.mat-success {
    background-color: rgb(37, 148, 37);
    color: #fff;
}

.mat-cancel {
    background-color: rgb(190, 36, 36)
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(37, 148, 37); 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(37, 148, 37, 0.671); 
}


