.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h3 {
    text-align: center;
}

.radiobt{
    padding-right: 15px;
}

.botoes{
    display: flex;
    justify-content: center;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: rgb(37, 148, 37);
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color: rgb(37, 148, 37);
}