::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: rgb(37, 148, 37) !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: rgb(37, 148, 37) !important;
} 

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: rgb(37, 148, 37) !important;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: rgb(37, 148, 37);
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: rgb(37, 148, 37);
}

::ng-deep datepicker-value-example .mat-form-field-label{
    color:rgb(37, 148, 37);
}
 
::ng-deep .mat-datepicker-toggle{
    color:rgb(37, 148, 37);
}

::ng-deep .mat-form-field-underline{
    background: rgb(37, 148, 37);
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: rgb(37, 148, 37);
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color: rgb(37, 148, 37);
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon-button{
    margin: auto;
}

.radiobt{
    padding-right: 15px;
    color: white;
}

.mat-card input {
    caret-color: rgb(37, 148, 37);
}

form{
    display: flex;
    flex-direction: column;
}

.inner-form{
    display: flex;
    flex-direction: column;
}


h1{
    text-align: center;
}

.content{
    margin: auto;
    width: 45%;
    display: flex;
    justify-content: center;
}

.cepfields{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cepfieldsH{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
}

h3{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: row;
}

.botoes{
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.formEND{
    padding-left: 20px;
}

.formbt{
    margin-right: 10px;
}

.div-form{
    background-color: #424242;
    max-width: fit-content;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
}