h2{
  text-align: center;
}

.div-form{
  padding: 10px;
  max-width: fit-content ;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: auto ;
  background-color: #424242;
  margin-top: 10%;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: fit-content;
  margin: auto;
}

.botoes{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
